*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "PT Sans", sans-serif;
}
img{
    max-width: 100%;
}
.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* margin-left: -20px;
    margin-right: -20px; */
}
.col{
    padding: 0 20px;
}
.col-50{
    width: 50%;
}
.col-20{
    width: 20%;
}
.col-80{
    width: 80%;
}
.grow{
    flex-grow: 1;
}
.flex{
    display: flex;
}
/*------------------
    BUTTON
 ---------------- */
.button-white{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    padding: 6px 8px;
} 
.button-blue{
    background-color: #0084FD;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.button-purple{
    background-color: #9792E4;
    color: #fff;
    border-radius: 20px;
    border: none;
}
 /*------------------
    END OF BUTTON
 ---------------- */
/*------------------
    HEADER
 ---------------- */
header{
    background-color: #0084FD;
 }
header .container{
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
 }
nav ul{
    display: flex;
    list-style: none;
 }
header .button-white{
    margin: 0 10px ;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
 }
.hamburger{
    display: none;
}
/*------------------
    INTRO
 ---------------- */
.intro .container{
    padding: 40px 0;
} 
.intro .col{
    width: calc(100% / 3);
}

.intro .row{
    margin-bottom: 25px;
}
.card{
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.text-col h2{
    color: #0084FD;
    padding-bottom: 25px;
}
.text-col p, .small-card p {
    color: #5A6E7F;
    padding-bottom: 30px;
    line-height: 30px;
    font-weight: 600;
}
.col-img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.col-img img{
    padding-top: 25px;
    max-width: 70%;
}
.small-card{
    text-align: center;
    height: 100%; 
}
.small-card i{
    font-size: 65px;
    color: #0084FD;
}
.small-card h2{
    color: #0084FD;
    padding: 20px 0;
}
/*------------------
    END OF INTRO
 ---------------- */
/*------------------
    HERO
 ---------------- */
.hero{
    background-color: #9792E4;
    color: #fff;   
}
.hero .container{
    max-width: 1000px;
}
.hero .row{
    align-items: flex-end;
    padding-bottom: 50px;
}
.hero img{
    padding: 100px 0;
}
.hero h2{
    padding: 30px 0;
    font-size: 42px;
}
.hero p{
    line-height: 25px;
}
.hero .card{
    background-color: #fff;
    border-radius: 50px;
    color: #000;
    text-align: center;
    height: 30%;
    padding: 25px 25px;
}
.hero .card p{
    font-style: italic;
    padding-bottom: 20px;
}
.hero .card h2{
    font-size: 30px;
}
.hero .card img{
    padding: 0px 55px;
    
}
.hero button{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    color: #000;
    font-size: 20px;
}
/*------------------
    END OF HERO
 ---------------- */
/*------------------
    TESTIMONIALS
 ---------------- */
.testimonials-title{
    flex-direction: column;
    text-align: center;
    padding-top: 25px;
}
.testimonials-title > *{
    padding: 14px 0;
}
.testimonials-title h2{
    color: #9792E4;
    font-size: 45px;
}
.card-purple{
    background-color: #9792E4;
    border-radius: 40px;
    align-items: center;
    text-align: left;
    color: #fff;
    line-height: 25px;
}
.card-purple img{
    clip-path: circle(34%);
    padding: 30px 0px;
}
.card-purple .col-80{
    padding: 0 30px;
}
.card-purple .col-80 p{
    padding: 12px 20px;
}
.testimonials-card .card-purple{
    margin-top: 30px;
}
/*------------------
    END OF TESTIMONIALS
 ---------------- */
/*------------------
    BENEFITS
 ---------------- */
.benefit{
    background-color: #9792E4;
    margin-top: 50px;
}
.benefit-title{
    justify-content: center;
    padding: 30px 0;
    color: #fff;
    font-size: 25px;
}
.benefit .col{
    width: calc(100% / 3);
    margin-bottom: 25px;
}
.benefit-card{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 30px;
}
.benefit-card *{
    margin-top: 15px;
}
.benefit-card h2{
    font-size: 50px;
    color: #9792E4;
}
.benefit-card h3{
    color: #9792E4;
}
.benefit-card p{
    color: #5A6E7F;
    line-height: 25px;
}
.benefit-card button{
    padding: 10px 40px;
}
/*------------------
    END OF BENEFITS
 ---------------- */
/*------------------
    ABOUT US
 ---------------- */
.about-us .col{
    width: calc(100% / 3);
    position: relative;
}
.about-us .container{
    margin-top: 40px;
    margin-bottom: 50px;
}
.about-us .grow h2{
    font-size: 70px;
    color: #9792E4;
}
.about-us .grow *{
    padding: 20px 0;
    padding-right: 35px;
}
.about-us .grow p{
    line-height: 40px;
    font-size: 18px;
}
.about-us img{
    border-radius: 50%;
    max-width: 80%;
    padding-top: 20px;
}
.about-us p i{
    position: absolute;
    top: 0;
    right: 80px;
    font-size: 90px;
    color: #9792E4;
}
.about-us h3{
    font-size: 35px;
    color: #9792E4;
    padding: 20px 0;
}
.about-us button{
    padding: 10px;
    width: 60%;
}
/*------------------
    END OF ABOUT US
 ---------------- */
 /*------------------
    GET STARTED
 ---------------- */
.get-started{
    background-color: #9792E4;
    color: #fff;
}
.get-started .container{
    display: block;
    text-align: center;
    padding: 30px 0;
}
.get-started h2{
    font-size: 40px;
}
.get-started h1{
    font-size: 70px;
    color: #FDC15F;
}
.get-started button{
    padding: 20px 65px;
    border-radius: 50px;
    color: #9792E4;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.get-started * :not(button){
    padding: 14px 0;
}
 /*------------------
    END OF GET STARTED
 ---------------- */
  /*------------------
    FOOTER
 ---------------- */
footer{
    background-color: #333333;
    color: #fff;
}
footer .container{
    max-width: 460px;
    text-align: center;
}
footer .container > *{
    padding: 40px 0;
}
footer a{
    color: #9792E4;
}
/*------------------
    RESPONSIVE
 ---------------- */
@media screen and (max-width: 992px){
    .hamburger{
        display: block;
        color: #fff;
    }
    header nav{
        display: none;
    }
    .intro .flex{
        flex-direction: column;
    }
    .col-50{
        width: 100%;
    }
    .testimonials{
        padding: 0 40px;
    }
    .benefit .col{
        width: 50%;
    }
}
@media screen and (max-width: 768px){
    .intro .col{
        width: 100%;
        margin-bottom: 25px;
    }
    .flex{
        flex-direction: column;
    }
    .intro .col-50{
        width: 100%;
    }
    .card-purple{
        text-align: center;
    }
    .card-purple .col-20, .card-purple .col-80{
        width: 100%;
    }
    .benefit .col{
        width: 100%;
    }
    .about-us .col{
        width: 100%;
    }
    
}
